<div id="box1" class="post">
    <h2>Today's Phrase : -<a href="#"> </a></h2>
    <p>{{phraseCtrl.phrase.phrase}}</p>
    <div>{{phraseCtrl.phrase.description}}</div>
</div>
<div id="box2">
    <h2 class="subtitle">Example 1</h2>
    <ul class="style1">
        <li class="first">
            <p>{{phraseCtrl.phrase.example1}}</p>
        </li>
    </ul>
    <h2 class="subtitle">Example 2</h2>
    <ul class="style1">
        <li class="first">
            <p>{{phraseCtrl.phrase.example2}}</p>
        </li>
    </ul>
    <button class="myButton" ng-show="phraseCtrl.isToday" ng-click="phraseCtrl.redirect(false)">Yesterday's Phrase</button>
    <button class="myButton" ng-show="!phraseCtrl.isToday" ng-click="phraseCtrl.redirect(true)">Today's Phrase</button>
</div>
