<div id="box1" class="post">
    <h2>Today's Phrase : -<a href="#"> </a></h2>
    <p>{{todaysPhrase.phrase}}</p>
    <div>{{todaysPhrase.description}}</div>
</div>
<div id="box2">
    <h2 class="subtitle">Example 1</h2>
    <ul class="style1">
        <li class="first">
            <p>{{todaysPhrase.example1}}</p>
        </li>
    </ul>
    <h2 class="subtitle">Example 2</h2>
    <ul class="style1">
        <li class="first">
            <p>{{todaysPhrase.example2}}</p>
        </li>
    </ul>
    <button class="myButton" ng-click="redirect()">Yesterday's Phrase</button>
</div>
