<div id="box1" class="post">
    <h2>Yesterday's Phrase : -<a href="#"> </a></h2>
    <p>{{yesterdayPhrase.phrase}}</p>
    <div>{{yesterdayPhrase.description}}</div>
</div>
<div id="box2">
    <h2 class="subtitle">Example 1</h2>
    <ul class="style1">
        <li class="first">
            <p>{{yesterdayPhrase.example1}}</p>
        </li>
    </ul>
    <h2 class="subtitle">Example 2</h2>
    <ul class="style1">
        <li class="first">
            <p>{{yesterdayPhrase.example2}}</p>
        </li>
    </ul>
    <button class="myButton" ng-click ="redirect()">Today's Phrase</button>
</div>
